In [ ]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openai in /usr/local/lib/python3.7/dist-packages (0.25.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.64.1)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from openai) (4.1.1)
Requirement already satisfied: pandas-stubs>=1.1.0.11 in /usr/local/lib/python3.7/dist-packages (from openai) (1.2.0.62)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from openai) (1.21.6)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)

In [ ]:
# importing required libraries and setting up the openai api key
import os
import numpy as np
import pandas as pd
import openai

openai.api_key = "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"

In [ ]:
# Using completion end point for few shot learning
prompt = "Classify text into one of the following categories: Inquiry, Salutation. \n\nText: \"I got stuck when trying to hire somebody\"\nCategory: Inquiry\n\nText: \"Hello\"\nCategory: Salutation\n\nText: "

prompt = prompt + "Where is new york?" + "\"\nCategory:"

response = openai.Completion.create(
  model = "text-davinci-002",
  prompt = prompt,
  temperature = 0,
  max_tokens = 6,
  top_p = 1,
  frequency_penalty = 0,
  presence_penalty = 0
)

In [ ]:
response

<OpenAIObject text_completion id=cmpl-68Kifv8G817bASE8x69Z0gyb1aNwO at 0x7f963e683e30> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": " Inquiry"
    }
  ],
  "created": 1667444289,
  "id": "cmpl-68Kifv8G817bASE8x69Z0gyb1aNwO",
  "model": "text-davinci-002",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 1,
    "prompt_tokens": 59,
    "total_tokens": 60
  }
}

In [ ]:
# Using completion end point for few shot learning
prompt = "Tell me something about Mahatma Gandhi"

response = openai.Completion.create(
  model = "text-davinci-002",
  prompt = prompt,
  temperature = 1,
  max_tokens = 600,
  top_p = 1,
  frequency_penalty = 0,
  presence_penalty = 0
)

In [ ]:
response

<OpenAIObject text_completion id=cmpl-68KjALoNd4CXW7AIPH3xGrLItHKzT at 0x7f963e8bdfb0> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": "\n\nThere are many things to say about Mahatma Gandhi, but here are a few key points: \n\n-Gandhi was an Indian political leader who was active during the Indian independence movement. \n-He is also celebrated for his philosophy of nonviolent resistance. \n-Gandhi was assassinated in 1948 by Hindu nationalist Nathuram Godse."
    }
  ],
  "created": 1667444320,
  "id": "cmpl-68KjALoNd4CXW7AIPH3xGrLItHKzT",
  "model": "text-davinci-002",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 76,
    "prompt_tokens": 8,
    "total_tokens": 84
  }
}

The below part is for question 2

Used the ATIS Airline Travel Information System Datset

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(0)

In [ ]:
data = pd.read_csv("/content/atis_intents.csv",header=None)
data.head()

                  0                                                  1
0       atis_flight   i want to fly from boston at 838 am and arriv...
1       atis_flight   what flights are available from pittsburgh to...
2  atis_flight_time   what is the arrival time in san francisco for...
3      atis_airfare            cheapest airfare from tacoma to orlando
4      atis_airfare   round trip fares from pittsburgh to philadelp...

In [ ]:
data.columns = ['intent','text']

In [ ]:
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight#atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline#atis_flight_no',
       'atis_ground_service#atis_ground_fare',
       'atis_airfare#atis_flight_time', 'atis_cheapest',
       'atis_aircraft#atis_flight#atis_flight_no'], dtype=object)

In [ ]:
data['intent'].nunique()

22

In [ ]:
data['intent'] = data['intent'].str.replace('#','_')
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight_atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline_atis_flight_no',
       'atis_ground_service_atis_ground_fare',
       'atis_airfare_atis_flight_time', 'atis_cheapest',
       'atis_aircraft_atis_flight_atis_flight_no'], dtype=object)

In [ ]:
data['intent'] = data['intent'].str.replace('atis_','')
data['intent'].unique()

array(['flight', 'flight_time', 'airfare', 'aircraft', 'ground_service',
       'airport', 'airline', 'distance', 'abbreviation', 'ground_fare',
       'quantity', 'city', 'flight_no', 'capacity', 'flight_airfare',
       'meal', 'restriction', 'airline_flight_no',
       'ground_service_ground_fare', 'airfare_flight_time', 'cheapest',
       'aircraft_flight_flight_no'], dtype=object)

In [ ]:
data['intent'].value_counts()

flight                        3666
airfare                        423
ground_service                 255
airline                        157
abbreviation                   147
aircraft                        81
flight_time                     54
quantity                        51
flight_airfare                  21
airport                         20
distance                        20
city                            19
ground_fare                     18
capacity                        16
flight_no                       12
meal                             6
restriction                      6
airline_flight_no                2
ground_service_ground_fare       1
airfare_flight_time              1
cheapest                         1
aircraft_flight_flight_no        1
Name: intent, dtype: int64

In [ ]:
labels = ['flight','ground_service','airfare','abbreviation','flight_time']

In [ ]:
data = data[data["intent"].isin(labels)]
data['intent'].value_counts()

flight            3666
airfare            423
ground_service     255
abbreviation       147
flight_time         54
Name: intent, dtype: int64

In [ ]:
sample_data = data.groupby('intent').apply(lambda x: x.sample(n=40)).reset_index(drop = True)
sample_data.intent.value_counts()

abbreviation      40
airfare           40
flight            40
flight_time       40
ground_service    40
Name: intent, dtype: int64

In [ ]:
sample_data.to_csv("sample_data.csv",index=False)

In [ ]:
sample_data = sample_data[['text','intent']]

In [ ]:

sample_data.head()

                                         text        intent
0                     what does mco stand for  abbreviation
1          what does the abbreviation co mean  abbreviation
2                                  what is hp  abbreviation
3   is fare code b the same as business class  abbreviation
4                          what does ewr mean  abbreviation

In [ ]:
sample_data['text'] = sample_data['text'].str.strip()
sample_data['intent'] = sample_data['intent'].str.strip()

In [ ]:
sample_data['text'] = sample_data['text'] + "\n\nIntent:\n\n"
# sample_data['text'] = "Classify text into on the intent: flight, ground_service, airline, aircraft, flight_time. Text: "+sample_data['text'] + "\n\nIntent:\n\n"
sample_data['intent'] = " "+sample_data['intent'] + " END"
sample_data.head()

                                                text             intent
0             what does mco stand for\n\nIntent:\n\n   abbreviation END
1  what does the abbreviation co mean\n\nIntent:\n\n   abbreviation END
2                          what is hp\n\nIntent:\n\n   abbreviation END
3  is fare code b the same as business class\n\nI...   abbreviation END
4                  what does ewr mean\n\nIntent:\n\n   abbreviation END

In [ ]:
print(sample_data['text'][0])

what does mco stand for

Intent:

In [ ]:
print(sample_data['intent'][0])

 abbreviation END

In [ ]:
sample_data.columns = ['prompt','completion']

In [ ]:
sample_data.to_json("intent_sample.jsonl", orient='records', lines=True)

In [ ]:
# sample_data.to_json("intent_.json", orient='records')

In [ ]:
!pip install --upgrade openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.25.0.tar.gz (44 kB)
     |████████████████████████████████| 44 kB 1.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.64.1)
Collecting pandas-stubs>=1.1.0.11
  Downloading pandas_stubs-1.2.0.62-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 7.6 MB/s
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.10)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from openai) (4.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from openai) (1.21.6)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Building wheels for collected packages: openai
  Building wheel for openai (PEP 517) ... done
  Created wheel for openai: filename=openai-0.25.0-py3-none-any.whl size=55881 sha256=45746690b3efee145e186721851db68b0b19efabd89d6717f5e8642132c0949d
  Stored in directory: /root/.cache/pip/wheels/19/de/db/e82770b480ec30fd4a6d67108744b9c52be167c04fcf4af7b5
Successfully built openai
Installing collected packages: pandas-stubs, openai
Successfully installed openai-0.25.0 pandas-stubs-1.2.0.62

In [ ]:
!openai tools fine_tunes.prepare_data -f intent_sample.jsonl

Analyzing...

- Your file contains 200 prompt-completion pairs
- Based on your data it seems like you're trying to fine-tune a model for classification
- For classification, we recommend you try one of the faster and cheaper models, such as `ada`
- For classification, you can estimate the expected model performance by keeping a held out dataset, which is not used for training
- There are 7 duplicated prompt-completion sets. These are rows: [7, 11, 12, 26, 29, 32, 140]
- All prompts end with suffix `\n\nIntent:\n\n`. This suffix seems very long. Consider replacing with a shorter suffix, such as `\n\n###\n\n`

Based on the analysis we will perform the following actions:
- [Recommended] Remove 7 duplicate rows [Y/n]: Y
- [Recommended] Would you like to split into training and validation set? [Y/n]: y


Your data will be written to a new JSONL file. Proceed [Y/n]: y

Wrote modified files to `intent_sample_prepared_train.jsonl` and `intent_sample_prepared_valid.jsonl`
Feel free to take a look!

Now use that file when fine-tuning:
> openai api fine_tunes.create -t "intent_sample_prepared_train.jsonl" -v "intent_sample_prepared_valid.jsonl" --compute_classification_metrics --classification_n_classes 5

After you’ve fine-tuned a model, remember that your prompt has to end with the indicator string `\n\nIntent:\n\n` for the model to start generating completions, rather than continuing with the prompt. Make sure to include `stop=[" END"]` so that the generated texts ends at the expected place.
Once your model starts training, it'll approximately take 6.97 minutes to train a `curie` model, and less for `ada` and `babbage`. Queue will approximately take half an hour per job ahead of you.

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = "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"

In [ ]:
!openai api fine_tunes.create -t "intent_sample_prepared_train.jsonl" -v "intent_sample_prepared_valid.jsonl" -m 'davinci'

Found potentially duplicated files with name 'intent_sample_prepared_train.jsonl', purpose 'fine-tune' and size 18369 bytes
file-iZx1E0K74kVHYCbLCPOZm59g
file-ovWyeNQ3mwsRcEj7SwT8FypX
Enter file ID to reuse an already uploaded file, or an empty string to upload this file anyway:
Upload progress: 100% 18.4k/18.4k [00:00<00:00, 17.1Mit/s]
Uploaded file from intent_sample_prepared_train.jsonl: file-iLVRgoHU3sC0IKvFhv0GW6Zu
Found potentially duplicated files with name 'intent_sample_prepared_valid.jsonl', purpose 'fine-tune' and size 4774 bytes
file-bcn5GY5vmTx2jeL7ufxGCdx7
file-fQ9e20xrN4ShbM9Kb0NL55B0
Enter file ID to reuse an already uploaded file, or an empty string to upload this file anyway:
Upload progress: 100% 4.77k/4.77k [00:00<00:00, 5.75Mit/s]
Uploaded file from intent_sample_prepared_valid.jsonl: file-EIjno7nY7IxWPdwN62XlAJ22
Created fine-tune: ft-Osm0YUq0YAv7gHpoyJDpQQnY
Streaming events until fine-tuning is complete...

(Ctrl-C will interrupt the stream, but not cancel the fine-tune)
[2022-11-03 02:43:59] Created fine-tune: ft-Osm0YUq0YAv7gHpoyJDpQQnY


[2022-11-03 02:44:10] Fine-tune costs $0.41
[2022-11-03 02:44:11] Fine-tune enqueued. Queue number: 0
[2022-11-03 02:44:12] Fine-tune started




[2022-11-03 02:46:22] Completed epoch 1/4
[2022-11-03 02:47:09] Completed epoch 2/4
[2022-11-03 02:47:57] Completed epoch 3/4
[2022-11-03 02:48:44] Completed epoch 4/4
[2022-11-03 02:49:27] Uploaded model: davinci:ft-personal-2022-11-03-02-49-27
[2022-11-03 02:49:28] Uploaded result file: file-ZKyoecY9Z4FM2QL3OwvGH8iA
[2022-11-03 02:49:28] Fine-tune succeeded

Job complete! Status: succeeded 🎉
Try out your fine-tuned model:

openai api completions.create -m davinci:ft-personal-2022-11-03-02-49-27 -p <YOUR_PROMPT>

In [ ]:
# prompt = "Do we have london flight on Monday\n\nIntent:\n\n"
# prompt = "what is the ap57 restriction\n\nIntent:\n\n"
prompt = "show me ground transportation in baltimore\n\nIntent:\n\n"

In [ ]:
import openai
response = openai.Completion.create(
  model="davinci:ft-personal-2022-11-03-02-49-27",
  prompt=prompt,
  max_tokens=5,
  temperature=0,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0,
  stop=[" END"]
)
print(response['choices'][0]['text'])

 ground_service

The below code is for Q3 in the assignment.

In [1]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.25.0.tar.gz (44 kB)
     |████████████████████████████████| 44 kB 1.8 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.64.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from openai) (4.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from openai) (1.21.6)
Collecting pandas-stubs>=1.1.0.11
  Downloading pandas_stubs-1.2.0.62-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 8.2 MB/s
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)
Building wheels for collected packages: openai
  Building wheel for openai (PEP 517) ... done
  Created wheel for openai: filename=openai-0.25.0-py3-none-any.whl size=55881 sha256=af278a6d837a282d6e4beec90d9a650df83ef37534a9684ff2df7d2aeacf76ee
  Stored in directory: /root/.cache/pip/wheels/19/de/db/e82770b480ec30fd4a6d67108744b9c52be167c04fcf4af7b5
Successfully built openai
Installing collected packages: pandas-stubs, openai
Successfully installed openai-0.25.0 pandas-stubs-1.2.0.62

In [2]:
import pandas as pd
import openai, numpy as np
from openai.embeddings_utils import get_embedding, cosine_similarity

In [3]:
api_key = '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'
openai.api_key = api_key

In [15]:
data = pd.read_csv("/content/atis_intents.csv",header=None)
data.head()

                  0                                                  1
0       atis_flight   i want to fly from boston at 838 am and arriv...
1       atis_flight   what flights are available from pittsburgh to...
2  atis_flight_time   what is the arrival time in san francisco for...
3      atis_airfare            cheapest airfare from tacoma to orlando
4      atis_airfare   round trip fares from pittsburgh to philadelp...

In [16]:
data.columns = ['intent','text']

In [17]:
data['intent'] = data['intent'].str.replace('#','_')
data['intent'].unique()

array(['atis_flight', 'atis_flight_time', 'atis_airfare', 'atis_aircraft',
       'atis_ground_service', 'atis_airport', 'atis_airline',
       'atis_distance', 'atis_abbreviation', 'atis_ground_fare',
       'atis_quantity', 'atis_city', 'atis_flight_no', 'atis_capacity',
       'atis_flight_atis_airfare', 'atis_meal', 'atis_restriction',
       'atis_airline_atis_flight_no',
       'atis_ground_service_atis_ground_fare',
       'atis_airfare_atis_flight_time', 'atis_cheapest',
       'atis_aircraft_atis_flight_atis_flight_no'], dtype=object)

In [18]:
data['intent'] = data['intent'].str.replace('atis_','')
data['intent'].unique()

array(['flight', 'flight_time', 'airfare', 'aircraft', 'ground_service',
       'airport', 'airline', 'distance', 'abbreviation', 'ground_fare',
       'quantity', 'city', 'flight_no', 'capacity', 'flight_airfare',
       'meal', 'restriction', 'airline_flight_no',
       'ground_service_ground_fare', 'airfare_flight_time', 'cheapest',
       'aircraft_flight_flight_no'], dtype=object)

In [19]:
data['intent'].value_counts()

flight                        3666
airfare                        423
ground_service                 255
airline                        157
abbreviation                   147
aircraft                        81
flight_time                     54
quantity                        51
flight_airfare                  21
airport                         20
distance                        20
city                            19
ground_fare                     18
capacity                        16
flight_no                       12
meal                             6
restriction                      6
airline_flight_no                2
ground_service_ground_fare       1
airfare_flight_time              1
cheapest                         1
aircraft_flight_flight_no        1
Name: intent, dtype: int64

In [20]:
labels = ['flight','ground_service','airfare','abbreviation','flight_time']

In [21]:
data = data[data["intent"].isin(labels)]
data['intent'].value_counts()

flight            3666
airfare            423
ground_service     255
abbreviation       147
flight_time         54
Name: intent, dtype: int64

In [22]:
sample_data = data.groupby('intent').apply(lambda x: x.sample(n=40)).reset_index(drop = True)
sample_data.intent.value_counts()

abbreviation      40
airfare           40
flight            40
flight_time       40
ground_service    40
Name: intent, dtype: int64

In [23]:
sample_data.to_csv("sample_data.csv",index=False)

In [24]:
sample_data = sample_data[['text','intent']]

In [25]:
sample_data.head()

                               text        intent
0   fare code y what does that mean  abbreviation
1               what is fare code h  abbreviation
2                 what does ea mean  abbreviation
3         what is fare code qo mean  abbreviation
4               what is fare code f  abbreviation

In [26]:
sample_data['text'] = sample_data['text'].str.strip()
sample_data['intent'] = sample_data['intent'].str.strip()

In [27]:
sample_data['text'] = sample_data['text'] + "\n\nIntent:\n\n"
# sample_data['text'] = "Classify text into on the intent: flight, ground_service, airline, aircraft, flight_time. Text: "+sample_data['text'] + "\n\nIntent:\n\n"
sample_data['intent'] = " "+sample_data['intent'] + " END"
sample_data.head()

                                             text             intent
0  fare code y what does that mean\n\nIntent:\n\n   abbreviation END
1              what is fare code h\n\nIntent:\n\n   abbreviation END
2                what does ea mean\n\nIntent:\n\n   abbreviation END
3        what is fare code qo mean\n\nIntent:\n\n   abbreviation END
4              what is fare code f\n\nIntent:\n\n   abbreviation END

In [28]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.24.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.13.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.13.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.10.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.10.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)

In [30]:
from transformers import GPT2TokenizerFast
tokenizer = GPT2TokenizerFast.from_pretrained("gpt2")

len(sample_data)

200

In [35]:
from openai.embeddings_utils import get_embedding

# This will take just under 10 minutes
sample_data['babbage_similarity'] = sample_data.text.apply(lambda x: get_embedding(x, engine='text-similarity-babbage-001'))
sample_data['babbage_search'] = sample_data.text.apply(lambda x: get_embedding(x, engine='text-search-babbage-doc-001'))

In [36]:
sample_data

,text,intent,babbage_similarity,babbage_search
0,fare code y what does that mean\n\nIntent:\n\n,abbreviation END,"[0.008026535622775555, 0.00504955742508173, -0...","[0.0025136827025562525, 0.002157328650355339, ..."
1,what is fare code h\n\nIntent:\n\n,abbreviation END,"[-0.0053383479826152325, 0.018053635954856873,...","[-0.006525084841996431, 0.018685849383473396, ..."
2,what does ea mean\n\nIntent:\n\n,abbreviation END,"[-0.0002434523485135287, 0.00824209675192833, ...","[0.008882640860974789, 0.011997442692518234, 0..."
3,what is fare code qo mean\n\nIntent:\n\n,abbreviation END,"[0.003408882999792695, 0.011463725939393044, 0...","[0.00784673634916544, 0.007760745007544756, 0...."
4,what is fare code f\n\nIntent:\n\n,abbreviation END,"[0.00048088066978380084, 0.02284129336476326, ...","[-0.0013766686897724867, 0.025384731590747833,..."
...,...,...,...,...
195,and how can i get to the boston airport from d...,ground_service END,"[0.007917262613773346, 0.009899831376969814, -...","[0.006244100630283356, 0.01701071299612522, -0..."
196,what ground transportation is available at den...,ground_service END,"[-0.005362160038203001, 0.02650795504450798, -...","[-0.007534456439316273, 0.026344778016209602, ..."
197,ground transportation atlanta\n\nIntent:\n\n,ground_service END,"[-0.015927663072943687, 0.01767042838037014, -...","[-0.017822062596678734, 0.02238478511571884, -..."
198,train to newark\n\nIntent:\n\n,ground_service END,"[-0.00883482862263918, -0.00010630179167492315...","[-0.009014730341732502, 0.005607754457741976, ..."
199,ground transportation philadelphia\n\nIntent:\n\n,ground_service END,"[-0.006024420261383057, 0.03443271666765213, -...","[-0.010419412516057491, 0.0373709611594677, -0..."

In [38]:
from sklearn.model_selection import train_test_split
 
X_train, X_test, y_train, y_test = train_test_split(
    list(sample_data.babbage_similarity.values),
    sample_data.intent,
    test_size = 0.2,
    random_state=42
)

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
 
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
preds = clf.predict(X_test)

In [40]:
print(classification_report(y_test,preds))

                     precision    recall  f1-score   support

   abbreviation END       1.00      1.00      1.00         5
        airfare END       0.92      0.92      0.92        12
         flight END       0.83      0.83      0.83         6
    flight_time END       1.00      1.00      1.00        10
 ground_service END       1.00      1.00      1.00         7

           accuracy                           0.95        40
          macro avg       0.95      0.95      0.95        40
       weighted avg       0.95      0.95      0.95        40